<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/book" id="b">Libri</a>
        <a href="/persona" id="c">Persone</a>
        <a href="/luogo" id="e">Luogo</a>
        <a href="/libreria">Libreria</a>
        <a href="/compra" id="a">Ordini</a>
        <br><br><br>
        <div>Inserisci nuovo ordine</div>
        <form action="#" method="post" th:action="@{/compra}" th:object="${compra}">
            <table>
                <tr><td>ID persona</td><td><select th:field="*{id_persona}" id="dd1">
            <option th:each="persona: ${Listapersona}" th:value="${persona.id}" th:text="${persona.id}"></option>
            </select></td></tr>
                        <tr><td>ID libreria</td><td><select th:field="*{id_libreria}" id="dd2">
            <option th:each="libreria: ${Listalibreria}" th:value="${libreria.id}" th:text="${libreria.id}"></option>
            </select></td></tr>
         <tr><td>Costo totale*</td><td><input type="number" min="0" th:field="*{costo_totale}" placeholder="costo_totale" required/></td></tr>
                 <tr><td>Numero libri*</td><td><input type="number" min="0" th:field="*{numero_libri}" placeholder="numero_libri" required/></td></tr>
                         <tr><td>Data acquisto*</td><td><input type="date" th:field="*{data_acquisto}" placeholder="data_acquisto" required/></td></tr>
                         <tr><td>*=Campo obbligatorio</td></tr>    
                         <tr><td><input id="send" type="submit" value="Salva"/></td></tr>
            </table>
        </form>
        <br><br><br>
        <table cellspacing="30">
            <tr align='center'><td><b>ID_PERSONA</b></td><td><b>ID_LIBRERIA</b></td><td><b>COSTO TOTALE</b></td><td><b>NUMERO LIBRI</b></td><td><b>DATA ACQUISTO</b></td></tr>
            <tr th:each="compra: ${Listacompra}" align='center'>
                <td th:text="${compra.id_persona}"></td>
                <td th:text="${compra.id_libreria}"></td>
                <td th:text="${compra.costo_totale}"></td>
                <td th:text="${compra.numero_libri}"></td>
                <td th:text="${compra.data_acquisto}"></td>
            </tr>
        </table>
    </body>
</html>
