<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Compra</title>
<meta charset="UTF-8"/>
<style>
.beta th{
    background-color:orange;
    color:white;
}
.beta tr:nth-child(2n){
    background-color: pink;
}
table{
    border-collapse: collapse;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
    <body>
        <div class="topnav">
        <a href="/">Home</a>
        <a href="/book" id="b">Libri</a>
        <a href="/persona" id="c">Persone</a>
        <a href="/luogo" id="e">Luogo</a>
        <a href="/libreria">Libreria</a>
        <a href="/compra" class="active" id="a">Ordini</a>
        </div>
        <br><br><br>
        <h3 align="center">Inserisci nuovo ordine</h3>
        <form action="#" method="post" th:action="@{/compra}" th:object="${compra}">
            <table align="center">
                <tr><td>ID persona</td><td><select th:field="*{id_persona}" id="dd1">
            <option th:each="persona: ${Listapersona}" th:value="${persona.id}" th:text="${persona.id}"></option>
            </select></td></tr>
                        <tr><td>ID libreria</td><td><select th:field="*{id_libreria}" id="dd2">
            <option th:each="libreria: ${Listalibreria}" th:value="${libreria.id}" th:text="${libreria.id}"></option>
            </select></td></tr>
         <tr><td>Costo totale*</td><td><input type="number" min="0" th:field="*{costo_totale}" placeholder="costo_totale" required/></td></tr>
                 <tr><td>Numero libri*</td><td><input type="number" min="0" th:field="*{numero_libri}" placeholder="numero_libri" required/></td></tr>
                         <tr><td>Data acquisto*</td><td><input type="date" th:field="*{data_acquisto}" placeholder="data_acquisto" required/></td></tr>
                         <tr><td>*=Campo obbligatorio</td></tr>    
                         <tr><td><input id="send" type="submit" value="Salva"/></td></tr>
            </table>
        </form>
        <br><br><br>
        <table class="beta" border="1" align="center">
            <tr align='center'><th><b>ID_PERSONA</b></th><th><b>ID_LIBRERIA</b></th><th><b>COSTO TOTALE</b></th><th><b>NUMERO LIBRI</b></th><th><b>DATA ACQUISTO</b></th></tr>
            <tr th:each="compra: ${Listacompra}" align='center'>
                <td th:text="${compra.id_persona}"></td>
                <td th:text="${compra.id_libreria}"></td>
                <td th:text="${compra.costo_totale}"></td>
                <td th:text="${compra.numero_libri}"></td>
                <td th:text="${compra.data_acquisto}"></td>
            </tr>
        </table>
    </body>
</html>
