<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>CONFERMA CANCELLAZIONE</div>
        <p>Cancellare la libreria situata a "<span th:text="${luogo.citta}"></span>" in via "<span th:text="${luogo.via}"></span>"?</p>
        <form action="#" method="post" th:action="@{/do_deleteluogo}" th:object="${luogo}">
            <input type="hidden" th:field="*{id}"/>
            <input type="submit" value="Cancella" id="sure"/>
        </form>
    </body>
</html>
