<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>CONFERMA CANCELLAZIONE</div>
        <p>Cancellare l'utente: "<span th:text="${persona.Nome_Cognome}"></span>"?</p>
        <form action="#" method="post" th:action="@{/do_deletepersona}" th:object="${persona}">
            <input type="hidden" th:field="*{id}"/>
            <input id="sure" type="submit" value="Cancella"/>
        </form>
    </body>
</html>
