<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
<title>ERRORE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
</style>
</head>
    <body>
        <h1 align="center">Errore inaspettato</h1>
        <img alt="errore" src="/img/error.png" width="200" height="300"/><br><br>
        <h3 align="center">Se l'errore compare più volte vi invitiamo a contattare l'amministratore alla seguente mail: xxxxxxxx@xxxx.xx</h3>
        <div align="center"><button class="button" onclick="window.location.href='/';">Torna alla Home</button></div>
        
        
    </body>
</html>
