<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/book" id="b">Libri</a>
        <a href="/persona" id="c">Persone</a>
        <a href="/luogo" id="e">Luogo</a>
        <a href="/libreria">Libreria</a>
        <a href="/compra" id="a">Ordini</a>
        <br><br><br>
                    <h3>Benvenuto nell'applicazione!</h3>
                    <text>Al momento ti trovi nella Home che può darti accesso a:</text>
                    <ul>
                        <li>Sezione ordini</li>
                        <li>Sezione libri</li>
                        <li>Sezione persone</li>
                        <li>Sezione luogo</li>
                        <li>Sezione libreria</li>
                    </ul>
    </body>
</html>
