<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Luogo</title>
<meta charset="UTF-8">
<style>
.beta th{
    background-color:orange;
    color:white;
}
.beta tr:nth-child(2n){
    background-color: pink;
}
table{
    border-collapse: collapse;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
    <body>
        <div class="topnav">
        <a href="/">Home</a>
        <a href="/book" id="b">Libri</a>
        <a href="/persona" id="c">Persone</a>
        <a href="/luogo" class="active" id="e">Luogo</a>
        <a href="/libreria">Libreria</a>
        <a href="/compra" id="a">Ordini</a>
        </div>
        <br><br><br>
        <h3 align="center">Inserisci la Sede della Libreria</h3>
    <form action="#" method="post" th:action="@{/luogo}" th:object="${luogo}">
        <table align="center">
            <tr><td>ID*</td><td><input type="number" min="1" th:field="*{id}" placeholder="id" required/></td></tr>
            <tr><td>Città*</td><td><input type="text" th:field="*{Citta}" placeholder="Citta" required/></td></tr>
            <tr><td>Via*</td><td><input type="text" th:field="*{via}" placeholder="via" required/></td></tr>
            <tr><td>Numero civico*</td><td><input type="number" min="1" th:field="*{n_civico}" placeholder="n_civico" required/></td></tr>
            <tr><td>*=Campo obbligatorio</td></tr>
            <tr><td><input type="submit" value="Salva" id="send"/></td></tr>
        </table>
        </form>
        <br><br><br>
        <table class="beta" border="1" align="center">
            <tr align='center'><th><b>ID</b></th><th><b>CITTA'</b></th><th><b>VIA</b></th><th><b>NUMERO CIVICO</b></th><th><b>MODIFICA</b></th><th><b>CANCELLA</b></th></tr>
            <tr th:each="luogo: ${Listaluogo}" align='center'>
            <td th:text="${luogo.id}"></td>
            <td th:text="${luogo.Citta}"></td>
            <td th:text="${luogo.via}"></td>
            <td th:text="${luogo.n_civico}"></td>
            <td><a href="#" th:href="@{|/edit/luogo${luogo.id}|}"><img src="/img/edit.png" width="15" height="15"/></a></td>
            <td><a href="#" th:href="@{|/delete/luogo${luogo.id}|}"><img src="/img/delete.png" width="15" height="15"/></a></td>
            </tr>
        </table>
    </body>
</html>
